<header class="header">
    <div class="header__content">
        <div class="header__logo-container">
            <img class="header__logo-img" src="/images/logo.svg" alt="logo" />
            <p class="header__logo-text">Клуб четырех&nbsp;коней</p>
        </div>
        <h1 class="header__title">
            Превратите уездный город
            <div class="header__title-secondary">в&nbsp;столицу</div>
            <div class="header__title-tertiary">земного шара</div>
        </h1>
        <p class="header__text">
            Оплатите взнос на&nbsp;телеграммы для&nbsp;организации
            Международного васюкинского турнира по&nbsp;шахматам
        </p>
        <div class="header__buttons">
            <a href="#" class="header__button header__button-first">
                Поддержать шахматную мысль
            </a>
            <a href="#" class="header__button header__button-second">
                Подробнее о&nbsp;турнире
            </a>
        </div>
    </div>
</header>
