<section class="slider">
    <div class="slider__header">
        <h2 class="slider__title">Участники турнира</h2>
        <div class="slider__controls">
            <div class="slider__control slider__control--prev" id="prevButton">
                <img
                    class="slider__control-left-img"
                    src="./images/arrow-left.svg"
                    alt="Arrow Left" />
            </div>
            <div class="slider__counter" id="sliderCounter">3 / 6</div>
            <div class="slider__control slider__control--next" id="nextButton">
                <img
                    class="slider__control-right-img"
                    src="./images/arrow-right.svg"
                    alt="Arrow Right" />
            </div>
        </div>
    </div>
    <div class="slider__wrapper" id="sliderContainer">
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 1" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Хосе-Рауль Капабланка</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 1" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Эммануил Ласкер</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 3" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Александр Алехин</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 4" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Арон Нимцович</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 5" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Рихард Рети</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider__item">
            <img
                class="slider__item__img"
                src="./images/person.png"
                alt="Participant 6" />
            <div class="slider__item__info">
                <h3 class="slider__item__name">Остап Бендер</h3>
                <p class="slider__item__title">Чемпион мира по шахматам</p>
                <a href="#" target="_blank">
                    <button class="slider__item__button">Подробнее</button>
                </a>
            </div>
        </div>
    </div>
</section>
