<section class="transformation-stages">
    <div class="transformation-stages__header">
        <h2 class="transformation-stages__title">
            Этапы преображения Васюков
            <span class="transformation-stages__subtitle">
                Будущие источники <br />
                обогащения васюкинцев
            </span>
        </h2>
    </div>
    <div class="transformation-stages__content">
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">1</div>
            <p class="transformation-stages__description">
                Строительство железнодорожной магистрали Москва-Васюки
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">2</div>
            <p class="transformation-stages__description">
                Открытие фешенебельной гостиницы &laquo;Проходная пешка&raquo;
                и&nbsp;других небоскрёбов
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">3</div>
            <p class="transformation-stages__description third-description">
                Поднятие сельского хозяйства в&nbsp;радиусе на&nbsp;тысячу
                километров: производство овощей, фруктов, икры, шоколадных
                конфет
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">4</div>
            <p class="transformation-stages__description">
                Строительство дворца для турнира
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">5</div>
            <p class="transformation-stages__description">
                Размещение гаражей для гостевого автотранспорта
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">6</div>
            <p class="transformation-stages__description pre-last-description">
                Постройка сверхмощной радиостанции для передачи всему миру
                сенсационных результатов
            </p>
        </div>
        <div class="transformation-stages__item">
            <div class="transformation-stages__number">7</div>
            <p class="transformation-stages__description last__description">
                Создание аэропорта &laquo;Большие Васюки&raquo;
                с&nbsp;регулярным отправлением почтовых самолётов
                и&nbsp;дирижаблей во&nbsp;все концы света, включая Лос-Анджелес
                и&nbsp;Мельбурн
            </p>
        </div>
        <img
            src="./images/plane.png"
            alt="Plane"
            class="transformation-stages__plane" />
    </div>
    <div class="transformation-stages__header-mobile">
        <h2 class="transformation-stages__title-mobile">
            Этапы преображения Васюков
        </h2>
        <h4 class="transformation-stages__subtitle-mobile">
            Будущие источники обогащения васюкинцев
        </h4>
        <img
            src="./images/plane.png"
            alt="Plane"
            class="transformation-stages__plane-mobile" />
    </div>

    <div class="transformation-stages__content-mobile">
        <div class="transformation-stages__item-mobile">
            <div class="transformation-stages__number-mobile">1</div>
            <p class="transformation-stages__description-mobile">
                Строительство железнодорожной магистрали Москва-Васюки
            </p>
            <div
                class="transformation-stages__number-mobile description-margin-second">
                2
            </div>
            <p
                class="transformation-stages__description-mobile description-margin-second">
                Открытие фешенебельной гостиницы &laquo;Проходная пешка&raquo;
                и&nbsp;других небоскрёбов
            </p>
        </div>
        <div class="transformation-stages__item-mobile">
            <div class="transformation-stages__number-mobile">3</div>
            <p class="transformation-stages__description-mobile">
                Поднятие сельского хозяйства в&nbsp;радиусе на&nbsp;тысячу
                километров: производство овощей, фруктов, икры, шоколадных
                конфет
            </p>
        </div>

        <div class="transformation-stages__item-mobile">
            <div class="transformation-stages__number-mobile">4</div>
            <p
                class="transformation-stages__description-mobile description-margin-third">
                Строительство дворца для турнира
            </p>
            <div
                class="transformation-stages__number-mobile description-margin-first">
                5
            </div>
            <p
                class="transformation-stages__description-mobile description-margin-second">
                Размещение гаражей для гостевого автотранспорта
            </p>
        </div>
        <div class="transformation-stages__item-mobile">
            <div class="transformation-stages__number-mobile">6</div>
            <p class="transformation-stages__description-mobile">
                Постройка сверхмощной радиостанции для передачи всему миру
                сенсационных результатов
            </p>
        </div>
        <div class="transformation-stages__item-mobile">
            <div class="transformation-stages__number-mobile">7</div>
            <p class="transformation-stages__description-mobile">
                Создание аэропорта &laquo;Большие Васюки&raquo;
                с&nbsp;регулярным отправлением почтовых самолётов
                и&nbsp;дирижаблей во&nbsp;все концы света, включая Лос-Анджелес
                и&nbsp;Мельбурн
            </p>
        </div>
    </div>
    <div class="transformation-stages__progress-mobile">
        <div
            class="transformation-stages__control transformation-stages__control--prev"
            id="prevStagesButton">
            <img
                class="transformation-stages__control-left-img"
                src="./images/arrow-left.svg"
                alt="Arrow Left" />
        </div>
        <div
            class="transformation-stages__progress-bar"
            id="sliderStagesCounter">
            <img
                class="transformation-stages__progress-dot"
                src="./images/dot-active.svg"
                alt="dot" />
            <img
                class="transformation-stages__progress-dot"
                src="./images/dot-disabled.svg"
                alt="dot" />
            <img
                class="transformation-stages__progress-dot"
                src="./images/dot-disabled.svg"
                alt="dot" />
            <img
                class="transformation-stages__progress-dot"
                src="./images/dot-disabled.svg"
                alt="dot" />
            <img
                class="transformation-stages__progress-dot"
                src="./images/dot-disabled.svg"
                alt="dot" />
        </div>
        <div
            class="transformation-stages__control transformation-stages__control--next"
            id="nextStagesButton">
            <img
                class="transformation-stages__control-right-img"
                src="./images/arrow-right.svg"
                alt="Arrow Right" />
        </div>
    </div>
</section>
