<section class="participants-info">
    <div class="participants-info__header">
        <h2 class="participants-info__title">Участники турнира</h2>
        <div class="participants-info__controls">
            <div
                class="participants-info__control participants-info__control--prev"
                id="prevButton">
                <img
                    class="participants-info__control-left-img"
                    src="./images/arrow-left.svg"
                    alt="Arrow Left" />
            </div>
            <div class="participants-info__counter" id="participantsCounter">
                3 / 6
            </div>
            <div
                class="participants-info__control participants-info__control--next"
                id="nextButton">
                <img
                    class="participants-info__control-right-img"
                    src="./images/arrow-right.svg"
                    alt="Arrow Right" />
            </div>
        </div>
    </div>
    <div class="participants-info__wrapper" id="participantsContainer">
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 1" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">
                    Хосе-Рауль Капабланка
                </h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 2" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">Эммануил Ласкер</h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 3" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">Александр Алехин</h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 4" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">Арон Нимцович</h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 5" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">Рихард Рети</h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
        <div class="participants-info__item">
            <img
                class="participants-info__item__img"
                src="./images/person.png"
                alt="Participant 6" />
            <div class="participants-info__item__info">
                <h3 class="participants-info__item__name">Остап Бендер</h3>
                <p class="participants-info__item__title">
                    Чемпион мира по шахматам
                </p>
                <a href="#" target="_blank">
                    <button class="participants-info__item__button">
                        Подробнее
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
