<div class="marquee">
    <div class="marquee__inner marquee-content" id="marqueeContent">
        <span>Дело помощи утопающим — дело рук самих утопающих! </span>
        <span><img src="./images/ellipse.svg" alt="ellipse" /></span>
        <span>Шахматы двигают вперед не только культуру, но и экономику! </span>
        <span><img src="./images/ellipse.svg" alt="ellipse" /></span>
        <span>Лед тронулся, господа присяжные заседатели! </span>
        <span><img src="./images/ellipse.svg" alt="ellipse" /></span>
    </div>
</div>
