<section class="tournament-info">
    <div class="tournament-info__first-container">
        <div class="tournament-info__support-block">
            <h2 class="tournament-info__first-text">
                Чтобы поддержать Международный васюкинский турнир
                <span class="tournament-info__desktop-text">
                    посетите лекцию на тему:
                    <span class="tournament-info__red-text">
                        «Плодотворная дебютная идея»
                    </span>
                </span>
            </h2>
            <div class="tournament-info__first-image">
                <img src="../images/old_photo.png" alt="Tournament Image" />
            </div>
            <h2
                class="tournament-info__first-text tournament-info__mobile-text">
                посетите лекцию на&nbsp;тему:
                <span class="tournament-info__red-text">
                    «Плодотворная дебютная идея»
                </span>
            </h2>
        </div>
    </div>
    <div class="tournament-info__second-container">
        <div class="tournament-info__session-block">
            <div class="tournament-info__second-image">
                <img
                    src="../images/man_playing_chess.png"
                    alt="Tournament Image" />
            </div>
            <div class="tournament-info__text-and-table">
                <h2 class="tournament-info__second-text">
                    и&nbsp;Сеанс
                    <span>
                        одновременной игры в&nbsp;шахматы на&nbsp;160 досках
                    </span>
                    гроссмейстера О.&nbsp;Бендера
                </h2>
                <table
                    cellpadding="0"
                    cellspacing="0"
                    class="tournament-info__grid-table">
                    <tr>
                        <td class="tournament-info__td">
                            <p class="tournament-info__left-table-text">
                                Место проведения:
                            </p>
                        </td>
                        <td class="tournament-info__td">
                            <p class="tournament-info__right-table-text">
                                Клуб «Картонажник»
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tournament-info__td">
                            <p
                                class="tournament-info__left-table-text tournament-info__left-table-text--second">
                                Дата и&nbsp;время мероприятия:
                            </p>
                        </td>
                        <td class="tournament-info__td">
                            <p class="tournament-info__right-table-text">
                                22&nbsp;июня 1927&nbsp;г.&nbsp;в&nbsp;18:00
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tournament-info__td">
                            <p
                                class="tournament-info__left-table-text tournament-info__left-table-text--third">
                                Стоимость входных билетов:
                            </p>
                        </td>
                        <td class="tournament-info__td">
                            <p class="tournament-info__right-table-text">
                                20 коп.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tournament-info__td">
                            <p
                                class="tournament-info__left-table-text tournament-info__left-table-text--forth">
                                Плата за игру:
                            </p>
                        </td>
                        <td class="tournament-info__td">
                            <p class="tournament-info__right-table-text">
                                50 коп.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tournament-info__td">
                            <p
                                class="tournament-info__left-table-text tournament-info__left-table-text--fifth">
                                Взнос на телеграммы:
                            </p>
                        </td>
                        <td class="tournament-info__td">
                            <p class="tournament-info__right-table-text">
                                <span class="tournament-info__crossed-price">
                                    100 руб.
                                </span>
                                <span>21 руб. 16 коп.</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p class="tournament-info__admin-link">
                    <a target="_blank" href="#">
                        По&nbsp;всем вопросам обращаться в&nbsp;администрацию
                        к&nbsp;К.&nbsp;Михельсону
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
